player-connection-mode=Listen
player-connection-guid=2667033415
player-connection-debug=0
player-connection-project-name=The_Cofessor
player-connection-ip=10.2.0.208
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=da8a64525c014183b2413c961cbf4333
